 * {
  box-sizing: border-box;
}
 body { 
 	
 	margin: 0; 
 	font-family: 'Arvo', serif;
 	padding: 100px;
 	 
 }
header{
	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
  	padding: 5px;
  	background-color: #EEEEEE;
}
.logo{
	display: inline-block;
	
  padding: 0px 15px 0px 15px;
  font-size: 20px;
}
.container{
	position: absolute;
  	right: 20px;
  	top: 25px;

}
.nav_link
{
  	padding: 0px 15px 0px 15px;
  	font-size: 20px;	
    
}
.query{
	margin-bottom: 50px;
}

input{
	  font-size: 15px;
  	height: 30px;
  	border: 1px solid #DDDDDD;
  	border-radius: 3px;
  	padding: 0 15px 0 18px;
  	width: 350px;
  	vertical-align: top;
  	margin-top: 5px;

}
.magnifying-glass_image{
	
	margin-left: 5px;
	font-size: 15px;
	height: auto;
	width:35px;
	border: 1px solid #DDDDDD;
	padding: 2px 6px 4px 6px;
	
}
.pages_scroller{
	
	font-size: 15px;
  	height: 30px;
  	padding: 0 5px 0 10px;
  	width: 450px;
  	display: flex;
    margin-bottom: 25px;
}

.pages_button{
	  border-left: 1px solid #DDDDDD;
  	border-right: 1px solid #DDDDDD;
  	margin-left: 15px;
  	margin-right: 15px;
  	padding: 5px;

}
.posts{
  
  list-style: none;
  padding: 5px 0px 5px 25px;
}
.listing{
  
  
  margin-bottom: 10px;

}
.date{
  
  margin-right:10px;
  padding-right: 25px;
  color: gray;

}
.post_link{
  
  margin-right: 15px
}
.location{
  
  color: gray;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: lightblue;
    text-decoration: underline;
    font-size: 20px
}
a:active {
    color: red;
}


